/* fontes */
@font-face {
    font-family: "fonte1";
    src: url('fontes/Gampolins\demo.otf');
}
@font-face {
    font-family: "fonte2";
    src: url("fontes/Awesome.otf");
}
@font-face {
    font-family: "fonte3";
    src: url('fontes/Super\Cottage.ttf');
}
 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Lobster&family=Roboto:wght@300&display=swap');

 @import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url('imagem/body1.jpg');
    background-color: #333;
    font-family: Arial, sans-serif;
    color: white;
}

#container {
    text-align: center;
    width: 60%;
    margin: 30px auto;
    padding: 20px;
    border-radius: 10px;
}

main {
    margin-top: 70px;       
}

img {
    width: 50%;
    padding: 2%;
    height: 12rem;
    border-radius: 5px;
}

/* Nav superior */
nav.superior {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    height: 60px;
    background: rgba(51, 51, 51, 0.8); /* Um fundo cinza escuro com 80% de opacidade */
    top: 0;
    width: 100%;
    left: 0;
    font-family: 'fonte3', sans-serif;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

nav.superior ul {
    display: flex;
    gap: 15px;
    list-style: none;
}

nav.superior ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 10px 15px;
    transition: 0.3s;
}

nav.superior ul li a:hover {
    background-color: #333;
    border-radius: 5px;
}

/* Nav lateral */
nav.lateral {
    font-family: 'lobster', cursive;
    position: fixed;
    top: 60px;
    left: 0;
    width: 150px;
    height: 100vh;
    background: rgba(90, 87, 87, 0.9);
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

nav.lateral ul {
    list-style-type: none;
    padding: 0;
}

nav.lateral li a {
    display: block;
    color: black;
    padding: 10px 20px;
    text-decoration: none;
    transition: 0.3s;
}

nav.lateral li a:hover {
    background-color: #333;
    color: white;
    padding-left: 25px;
}

nav.lateral .active {
    background-color: steelblue;
    color: white;
}
h1 {
    font-family: 'Roboto Condensed';
    color: black;
    font-size: 50px;

}
::selection {
    font-family: 'Roboto Condensed';
    color: black; 
}
p {
    margin: 40px;
    font-family: 'Roboto Condensed', sans-serif;
    color: black;
}
/* tabela */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    color: black;
    font-family: fonte1,sans-serif;
}
th {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    text-align: left;
}
td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
tr:hover {
    background-color: #D3d3d3;
}
thead.topo1{
border-bottom: solid#333 2px;
}
thead{
    border:solid #333 1.7px;
}
